
.container {
  max-width: 53rem;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  top: 6rem;
  position: relative;
}

input{
  padding: 1rem !important;
  width: 27rem;
  margin-right: 5px;
  border: solid 3px #00a4ff;
  outline: none;
}
.buttonAdd{
  padding: 1rem !important;
  background-color: #00a4ff;
  color: white;
  border: solid 2px #00a4ff;

}

.comment{
  padding-top: 3rem;
}
.padding{
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 17px;
  padding-right: 17px;
  margin-right: 12px;
}
.btn-delete{
  background-color: white;
  border: solid 2px red;
  color :red;

}
.btn-reply{
  background-color: white;
  border: solid 2px #00a4ff;
  color: #00a4ff;
}
.replyClass{
  border: solid 3px #40545e4d;
  max-width: 20rem;
}